<% provide(:title,@title) %>
<div class="row">
    <aside class="col-md-4">
        <%# ユーザのプロフィール情報 %>
        <section class="user_info">
            <h1>
                <%= gravatar_for @user, {size: 200}%>
                <%= @user.name %>
            </h1>
            <span><%= link_to("view my profile", @user) %></span>
            <span><b>Microposts: </b><%= @user.microposts.count %></span>
        </section>

        <%# フォロー数、フォロワー数 %>
        <section class="stats">
            <%= render "shared/stats" %>
        </section>

        <%# フォローしているユーザ or フォロワーのアイコン %>
        <% if @users.any? %>
        <div class="user_avatars">
            <% @users.each do |user| %>
            <%= link_to(gravatar_for(user, size: 30), user) %>
            <% end %>
        </div>
        <% end %>
    </aside>

    <%# フォローしているユーザ一覧 or フォロワー一覧を表示する %>
    <div class="col-md-8">
        <h3><%= @title %></h3>
        <% if @users.any? %>
        <ol class="users follow">
            <%# ページネーションバー %>
            <%= will_paginate(@users) %>

            <%# ユーザ一覧 %>
            <ul class="users">
                <%= render @users %>
            </ul>

            <%# ページネーションバー %>
            <%= will_paginate(@users) %>
        </ol>
        <% end %>
    </div>
</div>