<!DOCTYPE html>
<html>

<head>
  <%= favicon_link_tag('favicon.ico') %>
  <title><%= full_title(yield(:title)) %></title>
  <%= render  "layouts/rails_default" %>
  <%= render  "layouts/shim" %>
</head>

<body>
  <%= render  "layouts/header" %>
  <div class="container">
    <div class="row">
      <%
        # 以下の理由により、明示したflashのみ表示する。
        # ・flash[:error]はValidationなどのエラー表示のため、別のパーシャルで使用するため(2重表示を防ぐ)
        # ・BootstrapのCSSに対応している文字列(alert-successなど)のみ許容するため
        #   参考：https://getbootstrap.com/docs/4.0/components/alerts/
      %>
      <% if(
        flash[:primary] || flash[:secondary] || flash[:success]||
        flash[:danger] || flash[:warning] ||
        flash[:info] || flash[:light] || flash[:dark]
      )%>
      <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <% end %>
    </div>
    <%= yield %>
    <%= render  "layouts/footer" %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>


</html>
